.how{
    width: 100%;
    margin-top: 69px;
}
.top__heading{
    color: white;
}
.steps{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.step{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(150px);
    opacity: 0.1;
    transition: all .3s ease-in;
}
.step__num{
    width: 159px;
    height: 159px;
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
    border-radius: 10rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 15px rgba(13, 13, 13, 0.32);
}
.step__num p{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #343045;
}
.step__desc{
    margin-top: 27px;
    display: flex;
    align-items: flex-start;
}
.step__desc p{
    margin-top: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    word-break: break-all;
}